.main-slide {
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-color: #41464b96;
    background-blend-mode: multiply;
}
.titulo-carrousel {
    font-weight: bold;
    font-size: 2.2rem;
}

.subtitulo-carrousel {
    font-size: 15px;
    font-weight: 500;
}
