.password-input {
    width: 100%;
    border: none;
    outline: none;
}

.login-button {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
}

.login-button:hover {
    border: 1px solid var(--main-color);
}

.error-message {
    color: var(--main-color);
}

.brand-login {
    background-color: #fff;
}

.login--google:hover {
    background-color: #4285f4;
}

.login--facebook:hover {
    background-color: #3a5795;
}

.login--twitter:hover {
    background-color: #55acee;
}
