.password-input {
    width: 100%;
    border: none;
    outline: none;
}

.login-button {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
}

.login-button:hover {
    border: 1px solid var(--main-color);
}

.error-message {
    color: var(--main-color);
}
