.btn-user {
    border-radius: 25%;
    background: transparent;
    border: none;
}

.btn-user:hover {
    background: var(--main-color);
    box-shadow: 0px 3px 10px var(--main-color);
    border: 2px solid var(--main-color);
}
